Import subscribers to list | wrong email address validation

Hi guys!

In the contact import process there is a validation that checks if email address DOMAIN has an MX record, and if not marks that import has failed.

**master branch**
https://github.com/Mailtrain-org/mailtrain/blob/master/lib/tools.js line 158

```
    Isemail.validate(address, {
        checkDNS: true,
        errorLevel: 1
    }, result => {
```

**development branch**
https://github.com/Mailtrain-org/mailtrain/blob/development/server/lib/tools.js line 117

```
async function validateEmail(address) {
    const result = await new Promise(resolve => {
        const result = isemail.validate(address, {
            checkDNS: true,
            errorLevel: 1
        }, resolve);
    });

    return result;
}
```

Accordingly to [RFC5321 section 5](https://tools.ietf.org/html/rfc5321#section-5):

> The lookup first attempts to locate an MX record associated with the name.
> If a CNAME record is found, the resulting name is processed as if it were the initial name.

> If an empty list of MXs is returned, the address is treated as if it was associated 
> with an implicit MX RR, with a preference of 0, pointing to that host.

In my case there were a bunch of subscribers that were not imported because of this, despite they have valid email adresses.

I'm opening an issue so that this can be discussed before any code change / pull request

Cheers everyone!

We are going to start with the development and testing of mailtrain v3 in the next weeks.

You are welcome to help us with the testing as soon as the first release candidate is available.